.OTP {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OTP span {
    font-size: 2em;
    color: purple;
}

.OTP form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    width: 30vh;
}

.OTP label {
    color: wheat;
}

.OTP input {
    padding: 2vh 0;
    margin: 2vh 0;
    border: 1px solid black;
    text-align: center;
    outline: none;
}
.OTP button {
    margin: auto;
    margin-top: 2vh;
    height: 5vh;
    width: 12vh;
    font-size: 2.5vh;
    background: purple;
    color: wheat;
    cursor: pointer;
    border: 2px solid wheat;
}

.OTP button:hover{
    background: black;
    color: purple;
    border: 2px solid purple;
}

.OTP button:active {
    box-shadow: 2px 2px wheat;
    transform: translateY(4px);
}