node_modules/
products/
logger/
config/
seeders/
test.js
./test/
migrations/
products.json
filestructure.js
.env
src/controllers/friends.js
src/controllers/user/users.js
src/class/userSharedData.js
src/class/userRespectiveData.js
src/routes/temproute.js
/node-redis.js
/backend.zip