node_modules/
products/
logger/
config/
seeders/
test.js
./test/
migrations/
products.json
filestructure.txt
.env
src/controllers/friends.js
src/controllers/user/users.js
src/class/userSharedData.js
src/class/userRespectiveData.js
src/routes/temproute.js
/node-redis.js
/backend.zip
docker-compose.yml
localhost-key.pem
localhost.pem
.gitignore

test.js