@import url(variable.css);

.Navbar {
    height: 7vh;
    background-color: var(--bg-primary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 20px;
}

.items {
    font-family: var(--font-family);
    margin: 10px;
}

.items a {
    color: wheat;
    text-decoration: none;
}

.items a:hover {
    color: #efae5f;
}

.Logo {
    margin-right: auto;
    font-size: larger;
}

.search {
    margin-right: auto;
    width: 30vh;
    background-color: wheat;
    color: black;
    height: 4vh;
    text-align: center;
}