:root {
    --font-family: Arial, Helvetica, sans-serif;
    --primary-color: #800080;
    --secondary-color: #ca0fca;
    --font-hover-color: #f5d18e;
    --font-hover-color-2: #ca0fca;
    --font-color: #f5deb3;      
    --bg-color: #000000; 
    --bg-primary-color: #FFE1FF;
    --font-weight-1: 600;
    --font-weight-2: 550;
    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
    --border-style-primary: 0.6px solid #f0d4a0;
    --border-style-active: 0.6px solid #800080;
    --border-radius: 7px;
}
